

header li {
    display: inline-block;
    padding: 0 20px;
}

header {
    float: right;
}

header li a {
    font-family: curssive;
    text-decoration: none;
    color: black;
}

header li:hover {
    background-color: brown;

}
body {
    background: url(people.jpeg);
    background-size: cover;
}